version: '3.8'

services:
  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"

  task-service:
    build: ./task-service
    container_name: task-service
    depends_on:
      - config-server
    environment:
      SPRING_PROFILES_ACTIVE: test
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
    ports:
      - "8081:8081"

  email-service:
    build: ./email-service
    container_name: email-service
    depends_on:
      - config-server
    environment:
      SPRING_PROFILES_ACTIVE: test
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
    ports:
      - "8082:8082"
